:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

/* MAIN */
main {
    background-color: var(--clr-gray);
    min-height: calc(100vh - 120px);
}

/* NAV */
section#main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
    padding-inline: 2rem;
}

/* LIST */
.nav-filter-list {
    max-width: 1000px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

/* BUTTON */
.btn-main-nav {
    background-color: var(--clr-gray);
    padding: 0.5rem;
    border: 0;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: 0.1s;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.btn:active {
    transform: scale(0.9);
}

/* MAIN CARDS */
section#main-cards {
    padding: 2rem;
    max-width: 1000px;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

/* CARD */
.pokemon {
    min-width: 250px;
    border: 2px solid #1c1c1c;
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
}

.pokemon-img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-img img {
    width: 100%;
    max-width: 9rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemon-name-cont {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.pokemon-types {
    display: flex;
    gap: 0.5rem;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
}

/*MEDIA CARDS*/
/*cambiar por 510px*/
@media screen and (min-width: 550px) {
    section#main-cards {
        grid-template-columns: 1fr 1fr;
    }
}

/*cambiar por 790px*/
@media screen and (min-width: 810px) {
    section#main-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* COLORS */
.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-white);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}

/* LOGOS */
.icon {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin: auto;
    transition: 200ms all;
}

.icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon img {
    height: 50%;
    width: 50%;
    margin: 20%;
}

.bugLogo {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.darkLogo {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragonLogo {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electricLogo {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fireLogo {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairyLogo {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fightingLogo {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flyingLogo {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghostLogo {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grassLogo {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.groundLogo {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.iceLogo {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normalLogo {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poisonLogo {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychicLogo {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rockLogo {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steelLogo {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.waterLogo {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}